@import url('https://fonts.googleapis.com/css?family=Nunito');

body {
    padding-top: 56px;
}

.sticky-offset {
    top: 56px;
}

#body-row {
    margin-left:0;
    margin-right:0;
}
#sidebar-container {
    min-height: 100vh;   
    background-color: #333;
    padding: 0;
}

/* Sidebar sizes when expanded and expanded */
.sidebar-expanded {
    width: 230px;
}
.sidebar-collapsed {
    width: 60px;
}

/* Menu item*/
#sidebar-container .list-group a {
    height: 50px;
    color: white;
}

/* Submenu item*/
#sidebar-container .list-group .sidebar-submenu a {
    height: 45px;
    padding-left: 30px;
}
.sidebar-submenu {
    font-size: 0.9rem;
}

/* Separators */
.sidebar-separator-title {
    background-color: #333;
    height: 35px;
}
.sidebar-separator {
    background-color: #333;
    height: 25px;
}
.logo-separator {
    background-color: #333;    
    height: 60px;
}

/* Closed submenu icon */
#sidebar-container .list-group .list-group-item[aria-expanded="false"] .submenu-icon::after {
  content: " \f0d7";
  font-family: FontAwesome;
  display: inline;
  text-align: right;
  padding-left: 10px;
}
/* Opened submenu icon */
#sidebar-container .list-group .list-group-item[aria-expanded="true"] .submenu-icon::after {
  content: " \f0da";
  font-family: FontAwesome;
  display: inline;
  text-align: right;
  padding-left: 10px;
}

.fc-content{
    color:#fff;
}

.bottom-spacer{
    margin-bottom:15px;
}

body {
    background-color: #eee;
    padding-top:0px;    
}

.AppNav {
    position: fixed;
    width: 280px;
    height: 100vh;
    background-image: url(/../img/parallax.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    box-shadow: 0 16px 38px -12px rgba(0,0,0,.56),0 4px 25px 0 rgba(0,0,0,.12),0 8px 10px -5px rgba(0,0,0,.2);
}

.NavCover {
    background-color: #ffffffd3;
    min-height: 100vh;
    padding: 20px;
}

.simple-text {
    text-transform: uppercase;
    padding: 5px 0;
    display: inline-block;
    font-size: 28px;
    color: #3c4858;
    white-space: nowrap;
    font-weight: 400;
    line-height: 30px;
    overflow: hidden;
    text-align: center;
    display: block;
}
.simple-text2 {
    text-transform: uppercase;
    padding: 5px 0;
    display: inline-block;
    font-size: 20px;
    color: #3c4858;
    white-space: nowrap;
    font-weight: 400;
    line-height: 30px;
    overflow: hidden;
    text-align: center;
    display: block;
}
.simple-text:hover {
    text-decoration: none;
}
.simple-text>img {
    margin-top:-5px;
}
.Menu-Items > ul {
    text-decoration: none;
    list-style: none;
    margin: 0px;
    padding: 0px;
}

.Menu-Item {
    color: #6e7279;
    font-size: 16px;
    margin-bottom: 5px;
}
.Menu-Item.Active > li {
    background-color: #ff6464;
    border-radius: 5px;
    color: white;
    box-shadow: 0 4px 20px 0 rgba(0,0,0,.14),0 7px 10px -5px rgba(156,39,176,.4);
}
.Menu-Item.Active > li:hover {
    background-color: #ff6464;
    border-radius: 5px;
    color: white;
    box-shadow: 0 4px 20px 0 rgba(0,0,0,.14),0 7px 10px -5px rgba(156,39,176,.4);
}
.Menu-Item > li:hover {
    background-color: rgba(201, 183, 183, 0.30);
    border-radius: 5px;
}
.Menu-Item:hover {
    text-decoration: none;
    color: #6e7279;
}
.Menu-Item > li {
    padding: 10px;
    text-align: left;
    margin-bottom: 15px;
    padding: 10px 20px;
}
.Menu-Item > li > i {
    margin-right: 20px;
}

.Content {
    width: calc(100% - 280px);
    position: absolute;
    left: 280px;
    padding: 15px;
}