body {
    font-family: sans-serif!important;
    padding-top:0;
}

.landingImage {
    background-image: url(../img/landingImage.JPG);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    height: 100vh;
    width: 100%;
    margin-top: -90px;
    border-bottom: 5px solid #9bbc59;
}

.navbar-custom {
    border-bottom-left-radius: 100% 90%;
    border-bottom-right-radius: 100% 90%;
    background:rgba(245,245,245,0.9)
}
.btn-custom {
    background-color: #9bbc59;
    border-color: #9bbc59;
}

.btn-custom-shadow {
    background-color: #9bbc59;
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
    border-color: #9bbc59;
}

.btn-custom:hover {
    box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
}
.text-custom-heading-shadow {
    color: #9bbc59;
}
.text-custom-heading {
    color: #7f64a2;
}

header > div > h1 {
    font-family: sans-serif;
}

.ContentPadding {
    padding: 100px 0px 20px 0px;
}
.text-readable {
    letter-spacing: 1.3px;
}
.MarginBottom-40 {
    margin-bottom: 40px;
}
.title-margin {
    margin-top: 130px;
}
.full-width {
    width: 100%!important;
}
.nieuwsbriefMargin-20 {
    margin-left: 20px;
}
.nieuwsbriefMargin-10 {
    margin-left: 10px;
}

.Parallax {
    background-image: url(../img/parallax.JPG);
    background-position: center;
    background-repeat: none;
    background-attachment: fixed;
    background-size: cover;
    position: relative;
}

.extraMarginBottom {
    margin-bottom: 100px;
}

.ImageMargin {
    margin-left: 25px;
    margin-bottom: 25px;
}

.minMargin {
    margin-bottom: -10px;
}

.leaf-wrapper{
    padding:10px;
}

.leaf{
    border-top-right-radius: 75px;
    border-bottom-left-radius: 75px;
    background-color: #857793bf;
    padding: 25px;
}

.NieuwsBericht {
    width: calc(25% - 20px);
    margin: 10px;
    float: left;
}

.contact-item {
    width: calc(50% - 20px);
    margin: 10px;
}

.custom-image {
    width: 640px;
}

.image-shadow {
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22)!important;
    border-radius: 10px;
}

.modal-dialog {
    max-width: 60%;
    margin: 1.75rem auto;
}

.modal-picture {
    width: 50%;
    border-radius: 10px;
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
    margin: 0px 0px 25px 25px;
    float: right;
}

.modal-body {
    position: relative;
    flex: 1 1 auto;
    padding: 50px;
}

/* curves */

@media only screen and (max-width: 955px) {
    .ImageMargin {
        margin-left: 25px;
        margin-bottom: 25px;
        margin-right: 25px;
    }

    .NieuwsBericht {
        width: calc(50% - 20px);
        margin: 10px;
        float: left;
        text-align: center;
    }
}

  /* Tablet Portrait */
@media screen and (max-width: 768px)
{
    .navbar{
        padding:0.5rem 1rem 1.5rem 1rem;
    }

    .text-readable {
        letter-spacing: 1.3px;
        text-align: center;
    }

    .Mobile-center {
        text-align: center;
    }

    .contact-item {
        width: 100%;
        margin: 10px;
    }

    .ContentPadding {
        padding: 20px 0px 20px 0px;
    }

    .extraMarginBottom {
        margin-bottom: 20px;
    }

    .tablet-hide {
        display: none;
    }

}

/* Mobile Landscape */
@media screen and (max-width: 670px) {
    .text-custom-heading-shadow {
        color: #9bbc59;
        font-size: 3rem;
    }

    .leaf {
        border-top-right-radius: 75px;
        border-bottom-left-radius: 75px;
        background-color: #857793bf;
        padding: 10px;
    }

    .ImageMargin {
        margin-right: 0px;
        margin-left: 0px;
        margin-bottom: 25px;
    }

    .MarginBottom-40 {
        margin-bottom: 10px;
        font-size: 3rem;
    }
}

/* Mobile Portrait */
@media screen and (max-width: 400px) {

    .NieuwsBericht {
        width: calc(100% - 20px);
        margin: 10px;
        float: left;
        text-align: center;
    }

}